<div id="tracker_container">
    <div id="main_tracker">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date. </th>
                <td mat-cell *matCellDef="let element"> {{element.date | date :"MMM dd, yyyy 'at' hh:mm a"}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="earning">
                <th mat-header-cell *matHeaderCellDef> Earning </th>
                <td mat-cell *matCellDef="let element"> {{element.earning}} </td>
            </ng-container>

            <ng-container matColumnDef="expences">
                <th mat-header-cell *matHeaderCellDef> Expences </th>
                <td mat-cell *matCellDef="let element"> {{element.expences}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


    </div>
    <div id="edit_tracker">
        <section id="button_section">
            <button mat-raised-button (click)="addExpenses()">Expenses</button>
            <button mat-raised-button (click)="addEarning()">Earning</button>
        </section>
        @if(switchEditor){
        <app-expenses-editor></app-expenses-editor>
        }@else{
        <app-earning-editor></app-earning-editor>
        }
    </div>
</div>