<div id="tracker_container">
    <div id="main_tracker">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let element">{{element.date | date :"MMM dd, yyyy 'at' hh:mm a"}}</td>
            </ng-container>

            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef>Details</th>
                <td mat-cell *matCellDef="let element">{{element.details}}</td>
            </ng-container>

            <ng-container matColumnDef="earning">
                <th mat-header-cell *matHeaderCellDef>Earning</th>
                <td mat-cell *matCellDef="let element">{{element.earning}}</td>
            </ng-container>

            <ng-container matColumnDef="expense">
                <th mat-header-cell *matHeaderCellDef>Expense</th>
                <td mat-cell *matCellDef="let element">{{element.expense}}</td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Delete</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-stroked-button color="primary" (click)="onDelete(element._id)">Delete</button>
                </td>
            </ng-container>

            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef>Update</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-stroked-button color="primary">Edit</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


    </div>
    <div id="edit_tracker">
        <mat-accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Add Expenses
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-expenses-editor (updateList)="updateList()"></app-expenses-editor>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Add Earning
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-earning-editor (updateList)="updateList()"></app-earning-editor>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>