<div id="login_card">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field appearance="outline" class="fieldset" subscriptSizing="dynamic">
            <mat-label>Username</mat-label>
            <input type="text" matInput formControlName="username">
            @if(loginForm.get('username')?.hasError('required')){
            <mat-error>
                <small>Username is <strong>required</strong></small>
            </mat-error>
            }
            @if(loginForm.get('username')?.hasError('pattern')){
            <mat-error>
                <small>Username should consist only of <strong>alphanumeric characters.</strong></small>
            </mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="fieldset" subscriptSizing="dynamic">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
            @if(loginForm.get('password')?.hasError('required')){
            <mat-error>
                <small>Password is <strong>required</strong></small>
            </mat-error>
            }
            @if(loginForm.get('password')?.hasError('pattern')){
            <mat-error>
                <small>Invalid input. Ensure at least 8 characters and include one lowercase, one uppercase, one digit, and one special character.</small>
            </mat-error>
            }
        </mat-form-field>

        <section class="btn_section">
            <mat-checkbox (change)="onRemember()">Remember me!</mat-checkbox>
            <button mat-raised-button color="primary">Login</button>
        </section>
    </form>
</div>