<div id="login_card">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field appearance="outline" class="fieldset">
            <mat-label>Username</mat-label>
            <input type="text" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" class="fieldset">
            <mat-label>Password</mat-label>
            <input type="password" matInput>
        </mat-form-field>
        <button mat-raised-button color="primary" class="submit_btn">Login</button>
    </form>
</div>